body{
   padding: 0;
   margin: 0;
   
}

nav{
   padding: 0;
   margin: 0;
   grid-area: menu;
   background: #0037a1;
   color: white;

}

main {
   grid-area: seccion-principal;
   padding: 20px;

   flex-direction: column;
}

footer {
   grid-area: pie-de-pagina;
   background: white;
   color: white;
   padding: 5px;
 
}
p{
   text-align: center;
}
.filtros{
   text-align: center;
   display: flex;
   flex-direction: column;
  
}

div {
   display: grid;
   border: 1px solid black;
   grid-template-rows: 5fr 10fr 1fr;
   grid-template-areas:
   "menu"
   "seccion-principal"
   "pie-de-pagina";
}
 
@media (min-width: 576px) {
   div{
   grid-template-areas:
   "menu seccion-principal"
   "menu seccion-principal"
   "menu pie-de-pagina";
   grid-template-columns: 6rem 1fr;
   background-color: blueviolet;
}
}
@media (min-width: 992px) {
   div{
   grid-template-areas:
   "menu seccion-principal"
   "menu seccion-principal"
   "menu pie-de-pagina";
   grid-template-columns: 6rem 1fr;
   background-color: blueviolet;
}
}
a{
   color: white;
   text-decoration: none;
}

.fa-brands {
   font-size: 20px;
   margin: 10;
}
.pagination{
   display: flex;
   justify-content:center;
  
}

img{
   text-align: center;
   width: 200px;
   height: 200px;
}
.cards{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 2fr);
   gap: 20px;
 
}
.card{
   
   gap: 20px;
   padding: 20px;
   margin: 20px;
   
}






 